# IDE
.idea/
.vscode/

*.egg-info/

# Jupyter stuff
.ipynb_checkpoints

# Python stuff
.mypy_cache
*.pytest_cache
__pycache__/

# Mac stuff
.DS_Store

# Environment variables
.env
*.env.local

# Ignore build and testing environment.
_build/
test/pytest/tmp/*

# dependencies
*/node_modules
*/.pnp
*.pnp.js

# testing
/coverage

# next.js
*/.next/
*/out/

# production
/build

*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# users
users.txt

# Testing ground
/dragon-core/test/tmp/
/dragon-core/test/tmp/*
/dragon-core/test/pytest/tmp/*
