@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
}

body {
    display: flex;
}

.main{
    display: flex;
}

.sidebar{
    color: aliceblue;
    max-width: 20%;
    height: 100vh;
    background-color: #1a202c;
    flex-grow: 1;
    position: sticky;
    top: 0;
    /* Makes it such that you can scroll in the sidebar */
    overflow: auto;
}

.sidebar-item{
    padding: 0.5em;
    /*font-size: 1.2em;*/
    display: block;
    border-radius: 5px;
    /*This will let the hover effect have a slight animation. Probably not needed*/
    /*transition: background-color 0.1s;*/
}

.sidebar-item:hover{
    /*background-color: lightgrey;*/
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-item-title{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
}

.sidebar-item-title span i{
    display: inline-block;
    width: 1.5em;
}

.sidebar-item-title .toggle-btn{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sidebar-item.open > .sidebar-item-title .toggle-btn{
    transform: rotate(180deg)
}

.sidebar-item-content {
    padding-top: 0.25em;
    height: 0;
    overflow: hidden;

}

.sidebar-item.open > .sidebar-item-content{
    height: auto;
}

.sidebar-item.plain{
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
}
.sidebar-item.plain:hover{
    text-decoration: underline;
}
.sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
}

.entity-tittle{
    font-size: 4.2em;
    font-weight: 700;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

.entity-header{
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}

.entity-footer{
    font-size: 1.2em;
    padding: 0.2em;
    border-top: 1px solid #ccc;
}

.entity-link {
    color: blue;
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
}

.entity-link:hover {
    text-decoration: underline;
}

.entity-link:active {
    color: black;
}

.entity-link:visited {
    color: purple;
}


/*!* comments css *!*/

.comment img{
    text-align: center;
    white-space: nowrap;
    margin-top: 5px;
    margin-top: 5px;
}

/* SmallEntityViewer css */
.small-entity{
    background-color: aliceblue;
    border-top: 2px dashed grey;
    border-bottom: 2px dotted grey;
    margin-bottom: 5px;
    margin-top: 5px;
}

.small-entity h3{
    color: blue;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0em;
    border-bottom: none;
}

.small-entity h3:hover{
    text-decoration: underline;
}

.small-entity h3:visited{
    color: purple;
}


.comment table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10px;
}

.comment table thead {
    background-color: #1a202c;
    color: #fff;
}

.comment table thead th {
    padding: 10px;
    text-align: left;
}

.comment table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.comment table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}