@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.main{
    display: flex;
}

aside{
    color: aliceblue;
    width: 300px;
    height: 100vh;
    background-color: #1a202c;

    /* Makes it such that you can scroll in the sidebar */
    overflow: auto;
}

.sidebar-item{
    padding: 0.5em;
    /*font-size: 1.2em;*/
    display: block;

    /*This will let the hover effect have a slight animation. Probably not needed*/
    /*transition: background-color 0.1s;*/
}

.sidebar-item:hover{
    /*background-color: lightgrey;*/
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-item-title{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
}

.sidebar-item-title span i{
    display: inline-block;
    width: 1.5em;
}

.sidebar-item-title .toggle-btn{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sidebar-item.open .sidebar-item-title .toggle-btn{
    transform: rotate(180deg)
}

.sidebar-item-content {
    padding-top: 0.25em;
    height: 0;
    overflow: hidden;

}

.sidebar-item.open .sidebar-item-content{
    height: auto;
}