{% extends "md_entity.jinja" %}

{% block header %}
{{ super() }}
Start time: {{ start_time }}

End time: {{ end_time }}
{% if objective != "" -%}

Objective of the task: {{ objective }}
{% endif %}
{% if process != '' %}

Process: {{ process }}
{% endif %}
{% endblock %}